#contacto {
    position: fixed;
    height: 70vh;
    min-height: 240px;
    max-height: 650px;
    width: 64px;
    top: 15vh;
    left: 0;
    z-index: 1000;
    background: #0208379f;
    padding: 0;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    backdrop-filter: blur(3px);
    /* clip-path: path("M0 0 L64 10 L64 300 L0 350 Z"); */
    /*diferencia entre uno y otro*/
    border: 1px solid #dddddd05;
    clip-path: polygon(0% 0%,
            100% 18%,
            100% 82%,
            0% 100%);
}

#contacto ul {
    /* border: 2px solid #000; */
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    margin: auto;

}

#contacto ul li{
    height: 40px;
    width: 40px;
}
#contacto ul li svg{/*lo que intento no es una scala sino una inclinacion despues lo corrigo*/
    display: block;
    margin: auto;
    margin-top: 4px;
    scale: .9;
    
    transition: .1s ;
}

#contacto ul li:hover {
    background: radial-gradient(90% 100% at 50% 100%,#38408091, transparent);
    border-radius: 25px;
    box-shadow: 5px 5px 1px #0002;
    svg{
        fill: #ddd1;
        scale: 1;
    }
}