main {
    height: 100vh;
    max-height: 100vh;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: self-start;
}


/* *********************************************
***              Sobre mi                    ***
************************************************ */
#conten__sobre__mi {
    flex-shrink: 2;
    /*cuanto se reduce*/
    flex-grow: 2;
    flex-basis: 4;
    /*recorda! .tamaño base*/
    min-width: 60%;
    padding: 5% 0;

    .sobre_mi {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: calc(90vh - 300px);
        /* height: 100%; */
        width: 100%;
        margin: auto;
    }

    .btn__principal {
        margin: 10px auto;
        background: #af4e4e;
        transition: 0.5s;
        opacity: 0;
        border: 1px solid #fff1;
        background: linear-gradient(45deg, var(--primary-color-i), #08178a);
        color: #ddd;
        border-radius: 10px;
        padding: 6px 21px;
    }

    h1 {
        text-align: left;
        font-size: 40px;
        color: #eee;
    }

    h2 {
        text-align: left;
        font-size: 1.3rem;
        color: #ddd;
    }

    .parrafos {
        font-style: normal;
        font-weight: 400;
        width: 85%;
        font-size: 1rem;
        /* font-size: 1rem; */
        /* font-size: clamp(12px, 5cqw + 2cqh, 40px); */
        line-height: 24px;
        color: #ddddddc1;
    }
}


/* *********************************************
***                Imagen__dev               ***
************************************************ */
.imagen__dev {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1;
    min-width: 300px;
    height: calc(100% - 300px);
    /* background: #494949; */
    /* overflow: hidden; */
    /*-webkit-mask-image: radial-gradient(circle, black 40%, transparent 67%); */
}

.imagen__dev img {
    display: block;
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 10px;
    mask-image: linear-gradient(#000000 30%, transparent);
}

/* **************************************************
_              responsividad
****************************************************/
@media (max-width: 1135px) {
    main {
        margin: auto 30px;
    }

    #conten__sobre__mi {
        padding: 9% 0;

        .sobre_mi {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: calc(90vh - 300px);
            width: 100%;
            margin: auto;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.2rem;
        }

        .parrafos {
            font-weight: 400;
            width: 100%;
            font-size: 0.9rem;
        }

        .btn__principal {
            opacity: 1;
            font-size: 0.8rem;
        }

    }

    .imagen__dev {
        min-width: 300px;
        height: calc(100% - 300px);

        img {
            mask-image: linear-gradient(#000000 50%, transparent 80%);
        }
    }
}

@media (max-width: 650px) {
    main {
        height: 100vh;
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        #conten__sobre__mi {
            order: 2;
            flex-basis: 1;
            padding: auto;
            height: fit-content;
            max-height: fit-content;

            .sobre_mi {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: fit-content;
                h1{
                    text-align: center;
                }
            }

            .parrafos {
                font-weight: 400;
                width: 90%;
                font-size: 0.9rem;
                text-align: center;
            }

            .btn__principal {
                z-index: 100;
            }
        }
    }


    .imagen__dev {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 1;
        width: 100%;
        min-width: 200px;
        height: fit-content;
        max-height: 350px;
        display: flex;
        align-items: start;
        justify-content: center;
        order: 1;

        img {
            border: 1px solid #f5f5f522;
            background: #ddd1;
            backdrop-filter: blur(3px);
            height: 320px;
            width: 220px;
            object-fit: contain;
            margin: auto;
            border-radius: 15px;
            mask-image: linear-gradient(#000000 30%, transparent);
            order: 1;
        }
    }

}

@media (max-width: 380px) {

    #conten__sobre__mi {
        
        h2{
            display: none;
        }
    }

    .imagen__dev {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 1;
        width: 100%;
        min-width: 200px;
        height: fit-content;
        max-height: 350px;
        display: flex;
        align-items: start;
        justify-content: center;
        order: 1;

        img {
            border: 1px solid #f5f5f522;
            background: #ddd1;
            backdrop-filter: blur(3px);
            height: 180px;
            width: 125px;
            object-fit: contain;
            margin:5px auto;
            border-radius: 15px;
            mask-image: linear-gradient(#000000 30%, transparent);
            order: 1;
        }
    }
}