main {
    max-width: 1280px;
    min-height: 80vh;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    align-items: self-start;
    padding: 10vh 40px 10vh 100px;
    overflow: hidden;
}


/* *********************************************
***              Sobre mi                    ***
************************************************ */
#sobre__mi{
    flex-shrink:2 ;/*cuanto se reduce*/
    flex-grow: 2;
    flex-basis: 4; /*recorda! .tamaño base*/
    min-width: 60%;
}
#sobre__mi h1{
    text-align: left;
    font-size: 40px;
    color: #eee;
}
#sobre__mi h2{
    text-align: left;
    font-size: 20px;
    color: #ddd;
}
#sobre__mi p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ddddddc1;
    width: 85%;
}
/* *********************************************
***                Imagen__dev               ***
************************************************ */
.imagen__dev{
    
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1;
    min-width: 30%;
    max-height: 100%;
    /* background: #494949; */
    /* overflow: hidden; */
    /*-webkit-mask-image: radial-gradient(circle, black 40%, transparent 67%); */
}
.imagen__dev img{
    display: block;
    margin: auto;
    height: 100%;
    width: 90%;
    min-width: 80px;
    mask-image: linear-gradient(#000000 40%, transparent);
    
}