main {
    height: 100vh;
    max-height: 100vh;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: self-start;
}


/* *********************************************
***              Sobre mi                    ***
************************************************ */
#conten__sobre__mi {
    flex-shrink: 2;/*cuanto se reduce*/
    flex-grow: 2;
    flex-basis: 4;/*recorda! .tamaño base*/
    min-width: 60%;
    padding: 5% 0;
    .sobre_mi{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;    
        height: calc(90vh - 300px);
        /* height: 100%; */
        width: 100%;
        margin:auto;
    }
}

#conten__sobre__mi h1 {
    text-align: left;
    font-size: 40px;
    color: #eee;
}

#conten__sobre__mi h2 {
    text-align: left;
    font-size: 1.3rem;
    color: #ddd;
}

#conten__sobre__mi p {
    font-style: normal;
    font-weight: 400;
    width: 85%;
    font-size: 1rem;
    /* font-size: 1rem; */
    /* font-size: clamp(12px, 5cqw + 2cqh, 40px); */
    line-height: 24px;
    color: #ddddddc1;
}

/* *********************************************
***                Imagen__dev               ***
************************************************ */
.imagen__dev {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1;
    min-width: 300px;
    width: 40%;
    height: calc(100% - 300px);
    /* background: #494949; */
    /* overflow: hidden; */
    /*-webkit-mask-image: radial-gradient(circle, black 40%, transparent 67%); */
}

.imagen__dev img {
    display: block;
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 10px;
    mask-image: linear-gradient(#000000 30%, transparent);
}

/* **************************************************
_              responsividad
****************************************************/