:root {
    --primary-color: #0a0372;
    --secondary-color: #363795;
    --primary-color-i: #0208379f;
}
*{
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body {
    height: 100vh;
    max-height: 100%;
    background:radial-gradient( var(--primary-color), #000000);
    background-size: cover;
    overflow: hidden;
}
/* activamos el scroll y */
@media (max-width: 770px) {
    body{
        /* background-size: cover;
        max-height: 100vh; */
        overflow: scroll;
    }

}


